body {
    background-color: darkblue;
}

header {
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 900;
    font-feature-settings: "blwm";
    color: darkorange;
    color-interpolation-filters: linearRGB;
    margin-top: 40px;
}
p{
    color: antiquewhite;
    margin-top: 2%;

    border:5px;
    border-color: antiquewhite;
}

.jeu {
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-top: 50px;
    font-size: 30px;
    
}


#message {
    color: aliceblue;
    font-size: 30px;
  
}

#answer {
padding: 1%!important;
    font-size: 30px;
    width: 20%;
}
#essais {
    color: aliceblue;
    font-size: 30px;

}

.btn {
    background-color: chocolate;
    border-color: chocolate;
    width: 20%;
    margin-left:4%;

}

.btn:hover {
    background-color: rgb(245, 123, 37);
    border-color: rgb(245, 123, 37);

}

.swal-button {
    background-color: rgb(245, 123, 37);
}

.swal-button:onclick {
    background-color: rgb(245, 123, 37);
}

.plus{
    position: absolute;
    width: 5%;
    left: 20rem;
}
.moins {
    position: absolute;
    width: 5%;
    right: 20rem;
    top:0;
}