/* basic formatting */
body {
    background-color: darkblue;
}

header {
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 900;
    font-feature-settings: "blwm";
    color: darkorange;
    color-interpolation-filters: linearRGB;
    margin-top: 40px;
}

p {
    color: antiquewhite;
    margin-top: 2%;
    border: 5px;
    border-color: antiquewhite;
}

.jeu {
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-top: 50px;
    font-size: 30px;

}

/* js generated messages */
#message {
    color: aliceblue;
    font-size: 30px;

}

#answer {
    padding: 1% !important;
    font-size: 30px;
    width: 20%;
}

#essais {
    color: aliceblue;
    font-size: 30px;

}

/* reset button */
#reset {
    width: 4em;
    height: 4em;
    border-radius: 60%;
    border: 2px;

}

.reset {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;

}

/* OK button */
.btn {
    background-color: chocolate;
    border-color: chocolate;
    margin-left: 4%;

}
.btnok {
    width: 12%;

}

.btn:hover {
    background-color: rgb(245, 123, 37);
    border-color: rgb(245, 123, 37);

}

/* pop-ups */
.swal-button {
    background-color: rgb(245, 123, 37);
}

.swal-button:onclick {
    background-color: rgb(245, 123, 37);
}

/* header signs */
.plus {
    position: absolute;
    width: 5%;
    left: 20rem;
}

.moins {
    position: absolute;
    width: 5%;
    right: 20rem;
    top: 0;
}
/* difficulty buttons */

.difficulty {
    margin-top: 2%;
    margin-bottom:2%;
    display: flex;
    justify-content: center;

}

.easy normal hard {
   width: 7% !important;

}

/* numbers guessed */

.answerbuttons {
    display: flex;
justify-content: space-around;


}


.answer1 {
    color: white;
    font-size: 20px;
    background: rgb(209, 30, 30);
    height:30px !important;
    width:30px !important;
    padding: 30px !important;

}
